.formContainer, form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    flex-wrap: nowrap;
}
.formContainer{
    width: 99.9%;
    height: 100%;
}
.formContainer nav{
    width: auto;
}
.formContainer ul{
    list-style: none;
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
}
.formContainer li{
    margin: 10px;
    background-color: rgb(114, 114, 114);
    transform: skewX(10deg);
    cursor: pointer;
    padding: 5px;
    font-size: 17px;
    transition: all 0.5s;
}
.formContainer li:hover{
    transform:scale(110%);
	background-color: red;
}
.formContainer input{
    width: 100%;
}

form h3{
    text-align: center;
    margin: 5px 0 5px 0;
}

form{
    padding: 60px 0 60px 0;
    background-color: white;
    border-radius: 5px;
    max-height: 70%;
    width: 80%;
}
.formGroup{
    display: flex;
    flex-direction: row;
    margin: 10px 0 10px 0;
    width: 50%; 
}
.formGroup label{
    color: rgb(104, 104, 104);
    font-weight: bold;
}
.formGroup select{
    width: 100%;
    height: 30px;
    font-size: 16px;
    margin-left: 35px;
}

.places{
    width: 60%;
    height: 26px;
    margin-left: 10px;
}
.subYes{
    cursor: pointer;
    border: none;
    font-size: 18px;
    padding: 6px;
    background-color: rgb(129, 177, 57);
    border-radius: 5px;
    color: white;
    width: 200px !important;
}
.subYes:hover{
    background-color: rgb(196, 228, 133);
}

@media(max-width:610px){
    form h3{
    font-size: 17px !important;}
}

/*-------------------login form------------------------------*/

.loginForm{
    width: 40%;
    height: 800px;
    color: black;
    overflow: hidden;
}
.loginForm h3{
    font-size: 30px;
}
.loginGroup{
    width: 40%;
    margin: 20px;
}
.loginGroup input{
    width: 100%;
    height: 25px;
    border: 1px solid rgb(204, 203, 203);
}
#sub{
    font-size: 19px;
    border:1px solid rgb(224, 224, 224);
    border-radius: 8px;
    color: white;
    background-color: rgb(0, 119, 255);
    padding: 8px;
    width: 20%;
    cursor:pointer
}
#sub:hover{
    background-color: rgb(65, 144, 235);
}


/*----------RemoveWindow---------------*/
.ulDelete{
    display:flex;
    flex-direction:column;
    width:90%;
    color: black;
}
.itemDelete{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    width:90%
}
.itemDelete:hover{
    border: 2px solid grey;
}
.buttonDelete{
    background-color: rgb(240, 85, 85);
    color: white;
    margin: 15px 0 15px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    max-height: 40px;
}
.buttonDelete:hover{
    background-color: rgb(248, 41, 41);
}
/*----------end RemoveWindow---------------*/



/*----------sell window---------------*/

.ulSells{
    color: rgb(46, 46, 46);
    display: flex;
    justify-content: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}
.itemSell{
    border: 6px solid rgb(184, 184, 184);
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    width: 30%;
    font-size: 19px;
    transition: 0.5s;
}
.itemSell:hover{
    border: 6px solid rgb(47, 125, 250);
}

.sellItemContent{
    display: flex;
    flex-wrap: wrap;
    font-family: Roboto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
    color: rgb(54, 54, 54);
}
.sellItemData{
    margin: 10px 5% 10px 5%;
    width: 40%;
}
.sellItemData p{font-size: 20px;}
    
.sellItemData  h3{
    font-size: 30px;
    border-bottom: 4px solid rgb(233, 233, 233);
}
.sellItemData p, h3{margin: 0%;}
    

@media(max-width:570px){

    .sellItemData p{font-size: 15px;}
    .sellItemData  h3{font-size: 25px;}
    .sellItemData{width: 100%;} 
}
@media(max-width:1015px){
    .itemSell{width: 100%;}
        
    
    
}
/*----------sell window---------------*/

@media(max-width:1064px){
    .loginForm{
        width: 100%;
    }
    #sub{
        width: 40%;
    }
    .loginGroup{
        width: 70%;
    }
}

@media(max-width: 957px){
    form{
        width: 100%;
    }
}
@media(max-width:380px){

    .formContainer ul{
       width: 80%;
    }
    .formGroup{
        width: 90%;
    }
   
}